body{
    background: -webkit-linear-gradient(left, #0127ff, limegreen 99%);

}

.title{
    font-size: 8rem;
    font-weight: 700;
    text-align: center;
    color: white;
}

.medium-text{
    font-size: 2rem;
    font-weight: 400;
    text-align: center;
    color: white;
}

.small-text{
    font-size: 1rem;
    font-weight: 400;
    color: white;
    text-align: center;
}

.button{
    text-align: center;
}
