<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Error</title>
    <link rel="stylesheet" type="text/css" href="/css/error.css" />
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.6.0/css/bootstrap.min.css}" />
</head>
<body>
    <div class="error-wrapper container">
        <div class="title">404</div>
        <div class="medium-text">PAGE NOT FOUND</div>
        <div class="small-text">The page was moved, removed, renamed or might never exist</div>
        <div class="button">
            <a class="btn btn-outline-primary text-white" href="/">Go to home page</a>
        </div>
    </div>
</body>
</html>
