<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login form</title>

    <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.6.0/css/bootstrap.min.css}" />

    <script th:src="@{/webjars/jquery/3.5.1/jquery.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/4.6.0/js/bootstrap.min.js}"></script>

</head>
<body>
    <div class="container">
        <h1 class="text-uppercase">login form</h1>
        <form action="loginform" th:action="@{/loginform}" th:method="post">
            <input type="text" name="username" placeholder="USERNAME">
            <input type="password" name="password" placeholder="PASSWORD">
            <input type="submit" value="LOGIN">
        </form>
    </div>

</body>
</html>
