<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login form</title>

    <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.6.0/css/bootstrap.min.css}" />

    <link rel="stylesheet" type="text/css" href="/css/topnav.css" />

    <script th:src="@{/webjars/jquery/3.5.1/jquery.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/4.6.0/js/bootstrap.min.js}"></script>

</head>
<body>

    <div class="container">

        <div th:replace="fragments/topnav :: navbar"></div>

        <h1 class="text-uppercase">login form</h1>
        <form action="loginform" th:action="@{/loginform}" th:method="post">
            <div class="form-group">
                <label for="username" class="text-uppercase">username</label>
                <input type="text" id="username" name="username" placeholder="USERNAME" class="form-control">
            </div>
            <div class="form-group">
                <label for="password" class="text-uppercase">password</label>
                <input type="password" id="password" name="password" placeholder="PASSWORD" class="form-control">
            </div>
            <button class="btn btn-primary btn-lg text-uppercase" type="submit">login</button>
        </form>
    </div>

</body>
</html>
